## uninteresting configs
pulse/
var/
JetBrains/
discord/
github-copilot/
gtk-3.0/
procps/
dconf/
Tracktion/
qBittorrent/
vlc/
MuseScore/

## trashfiles
.zcompdump
*~
QtProject.conf

## other stuff
scummvm/
