## uninteresting configs
PCSX2/
geany/
supertuxkart/
trizen/
unity3d/
pulse/
var/
JetBrains/
discord/
github-copilot/
gtk-3.0/
gtk-2.0/
procps/
dconf/
Tracktion/
qBittorrent/
vlc/
MuseScore/
libreoffice/
itch/
Meltytech/
Ankama\ Launcher/
Vencord/
zaap/
glib-2.0/

## trashfiles
.zcompdump
glade.conf
*~
QtProject.conf
gops/

## other stuff
scummvm/
paliasrc
epitaliasrc
pavucontrol.ini
