## uninteresting configs
pulse/
var/
JetBrains/
discord/
github-copilot/
gtk-3.0/
gtk-2.0/
procps/
dconf/
Tracktion/
qBittorrent/
vlc/
MuseScore/
libreoffice/

## trashfiles
.zcompdump
*~
QtProject.conf

## other stuff
scummvm/
paliasrc
pavucontrol.ini
