#                                                      .     :-. .
#    author:  marcellus </var/spool/mail/marcellus>    :*==*%%%#%+=---:
#                                                       :#%%%*+%#=+%*:.
#    created: Sun, 14 May 2023 01:29:10 +0200            :%%%. .   -*%-
#    updated: Sun, 14 May 2023 01:30:06 +0200             =## .   :#%*=:.
#                                                         -#*#%:=#%%%#-
#    description:                                        *:*%%%%%%%#-
#                                                         .-#%%%%%%+
#                                                          %%%--%%%%*-
#                                                         ##%=  +%%=:..
#                                                          #*    #%#
#                                                         :#     -==*
#                                                         ::        .:

plugged/
autoload/
